.fondo {
    background: url(../../assets/img/Fondo2.png);
    /*background-color: blue;*/
	background-repeat:no-repeat;
    background-attachment: fixed ;
	background-size: cover;
	background-position: center;
	height: 100vh;
}