
.Task-User-Info {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right:auto ;
    font-size: 12px;
    text-align: center;
}

.Task-User-Info h1{
    font-size: 25px;
    color: white;
}
.Task-User-Info p{
    font-size: 15px;
    color: rgb(255, 255, 255);
}